.fullwidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.fullwidth .carousel-wrapper {
    max-width: 100% !important;
}

.news  a.button:any-link, .news button {
    background-color: #297A38 !important;
    border-color: #297A38 !important;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding: 6px 15px;
    font-size: 18px;    
}

.news a.button:hover, .news a.button:focus, .news button:hover, .news button:focus {
    background-color: #035011 !important;
    border-color: #035011 !important;
}

.news p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 18px;
}

.icons img {
    width: 80px !important;
}

.information p {
    font-size: 18px;
}

.information img {
    max-width: 200px !important;
}



